.weather-container {
  max-width: 450px;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.title {
  font-size: 28px;
}

.search-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.city-input {
  padding: 10px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.btn-search {
  padding: 10px 18px;
  background: #007aff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-search:hover {
  background: #005ec4;
}

.weather-card {
  margin-top: 20px;
  background: #eaf6ff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.city-name {
  font-size: 24px;
  font-weight: bold;
}

.temp {
  font-size: 22px;
  margin: 10px 0;
}

.error {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
